// Gradiente para tarjetas o formularios (como .wrap-login100)
$gradient-main: linear-gradient(
    to top,
    #7BC6A4, // Verde menta
    #4A90E2  // Azul suave
);

// Gradiente para encabezados o barras superiores (como .background-header)
$gradient-header: linear-gradient(
    to right,
    #7BC6A4, // Verde menta
    #4A90E2  // Azul suave
);

// Gradiente alternativo para fondos o secciones destacadas
$gradient-alt: linear-gradient(
    135deg,
    #4A90E2,
    #D883B7
);


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4) inset !important;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4) inset !important;
  -webkit-text-fill-color: white !important;
  color: white !important;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.bg-page {
  background-image: url('assets/login-image3.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px;
  background: $gradient-main;
}

.glass-card {
  width: 500px;
  overflow: hidden;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con opacidad */
  backdrop-filter: blur(40px); /* Efecto borroso */
  -webkit-backdrop-filter: blur(30px); /* Compatibilidad con Safari */
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.background-header {
  background: $gradient-header;
}

.dialog-fullscreen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-content {
  flex: 1;
  overflow-y: auto;
}

.dialog-actions {
  margin-top: auto;
}
